[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
	branch = v1.9.0

[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
	branch = v5.0.2

[submodule "lib/murky"]
	path = lib/murky
	url = https://github.com/dmfxyz/murky
	# Pinned to release tag instead of main for stability
	branch = v0.1.0
